/////////////////////////////////////////////
// LOGO

.logo{
  width: 3.7rem;
  height: 3.7rem,;
  margin-left: 3rem;
  
}



/////////////////////////////////////////////
// SEARCH
.search{
flex: 0 0 40%;
  
  &__input{
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-200);
  }
  
  &__button{

  }
  
  &__icon{
    height: 2rem;
    width: 2rem;
  }
}



/////////////////////////////////////////////
// USER NAVIGATION
.user-nav{

  &__icon-box{
    
  }
  
  &__icon{
    width: 2.4rem;
    height: 2.4rem;
  }
  
  
  &__notification{
    
  }
  
  &__user{
    
  }
  
  &__user-photo{
    height: 3.7rem;
    border-radius: 50%;
    
  }
  
  &__user-name{
  }
}