/////////////////////////////////////////////
// LOGO

.logo{
  height: 3.7rem,;
  margin-left: 3rem;
  
}



/////////////////////////////////////////////
// SEARCH
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;

  &__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-200);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    
    &:focus{
      outline: none;
      width: 100%;
      transition: all 0.2s ease-in;
      background-color: var(--color-grey-light-300);
    }
  }
  
  &__input:focus + &__button {
    background-color: var(--color-grey-light-300);
  }
  
  &__button{
    border: none;
    background-color: var(--color-grey-light-200);
    
    &:focus{
      outline: none;
    }
    
    &:active{
      transform: translateY(2px);
    }

  }
  
  &__icon{
    height: 2rem;
    width: 2rem;
  }
}



/////////////////////////////////////////////
// USER NAVIGATION
.user-nav{
display: flex;
flex: 0 0 10%;
justify-content: space-between;
align-items: center;
  
  &__icon-box{
    
  }
  
  &__icon{
    width: 2.4rem;
    height: 2.4rem;
  }
  
  
  &__notification{
    
  }
  
  &__user{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__user-photo{
    height: 3.7rem;
    border-radius: 50%;
    
  }
  
  &__user-name{
    color: var(--color-grey-dark-200);
  }
}